.box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

button {
    height: 30px;
    width: 70px;
}

.no {
    position: relative;
    transition: ease-in 0.25s;
}

.q {
    text-align: center;
}
.mobile {
    display: none;
    text-align: center;
}
/* @media (max-width: 550px) {
    .q,
    .box {
        display: none;
    }
    .mobile {
        display: block;
    }
} */
